<f:layout name="Default"/>

<f:section name="Jumbotron">
<div class="jumbotron jumbotron-fluid text-center">
  <f:format.raw>{content10}</f:format.raw>
</div>
</f:section>

<f:section name="Main">
<div class="container">
  <div class="row text-center">
    <div class="col-lg-6 offset-lg-3"><f:format.raw>{content0}</f:format.raw></div>
  </div>
  <br>
  <hr>
  <br>
  <div class="row">
    <div class="col-md-4">
      <f:format.raw>{content1}</f:format.raw>
    </div>
    <div class="col-md-4">
      <f:format.raw>{content2}</f:format.raw>
    </div>
    <div class="col-md-4">
      <f:format.raw>{content3}</f:format.raw>
    </div>
  </div>
  <br/>
  <br/>
  <div class="row">
    <div class=" col-md-4"> Click here to select this<strong> column.</strong> Always place your content within a column. Columns are indicated by a dashed blue line. </div>
    <div class="col-md-4 "> You can <strong>resize a column</strong> using the handle on the right. Drag it to increase or reduce the number of columns.</div>
    <div class="col-md-4 "> You can <strong>offset a column</strong> using the handle on the left. Drag it to increase or reduce the offset. </div>
  </div>
  <br/>
  <br/>
  <div class="row">
    <div class="col-md-6 text-center">
      <div class="card">
        <div class="card-body">
          <h3>Adding <strong>Buttons</strong></h3>
          <p>Quickly add buttons to your page by using the button component in the insert panel. </p>
          <button type="button" class="btn btn-info btn-md">Info Button</button>
          <button type="button" class="btn btn-success btn-md">Success Button</button>
        </div>
      </div>
    </div>
    <div class="text-center col-md-6">
      <div class="card">
        <div class="card-body">
          <h3>Adding <strong>Badges</strong></h3>
          <p>Using the insert panel, add badge to your page by using the badge component.</p>
          <span class="badge badge-info">Info Badge</span> <span class="badge badge-danger">Danger Badge</span>
        </div>
      </div>
    </div>
  </div>
</f:section>
